## NFL Draft prediciton
Please fill out:

Student name: Austin Murray
Student pace: full time
Scheduled project review date/time:
Instructor name: Yish
Blog post URL:



## Importing all the tools

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import folium
import requests
from bs4 import BeautifulSoup

In [4]:
import cfbd

In [5]:
# setting up API for cfbd
from cfbd.rest import ApiException

In [7]:
# Configure API key authorization: ApiKeyAuth
configuration = cfbd.Configuration()
configuration.api_key

{}

## Recruiting Data

In [9]:
# getting all the recruiting data from 2000 to 2015.  2000 is the earliest that is available

recruiting_api = cfbd.RecruitingApi()

player_recruit_stats = []

recruit_years = range(2000, 2015)
for i in recruit_years:
    
    player_recruit_stats = player_recruit_stats + recruiting_api.get_recruiting_players(year=i)
    
player_recruit_stats_df = pd.DataFrame.from_records([p.to_dict() for p in player_recruit_stats])
player_recruit_stats_df.head()

,recruit_type,year,ranking,name,school,committed_to,position,height,weight,stars,rating,city,state_province,country
0,HighSchool,2000,1,D.J. Williams,De La Salle,Miami,ILB,74.0,235.0,5,0.9998,Concord,CA,USA
1,HighSchool,2000,2,Brock Berlin,Evangel Christian Academy,Florida,PRO,74.0,190.0,5,0.9998,Shreveport,LA,USA
2,HighSchool,2000,3,Charles Rogers,Saginaw,Michigan State,WR,76.0,195.0,5,0.9988,Saginaw,MI,USA
3,HighSchool,2000,4,Travis Johnson,Notre Dame,Florida State,SDE,76.0,265.0,5,0.9982,Sherman Oaks,CA,USA
4,HighSchool,2000,5,Marcus Houston,Thomas Jefferson,Colorado,RB,72.0,208.0,5,0.9980,Denver,CO,USA

In [10]:
# See what lines are duplicated with same name and school to see if people were taken twice
duplicatedrecruitDF = player_recruit_stats_df[player_recruit_stats_df.duplicated(['name', 'committed_to'],keep=False)]

In [11]:
duplicatedrecruitDF.head(50)

,recruit_type,year,ranking,name,school,committed_to,position,height,weight,stars,rating,city,state_province,country
212,HighSchool,2001,93,Larry Fitzgerald,Richfield Senior,Pittsburgh,WR,75.0,205.0,4,0.9703,Minneapolis,MN,USA
252,HighSchool,2002,4,Chris Davis,St. Petersburg,Florida State,ATH,70.0,170.0,5,0.9980,Saint Petersburg,FL,USA
254,HighSchool,2002,5,Chris Davis,St Petersburg Catholic,Florida State,ATH,72.0,170.0,5,0.9980,Saint Petersburg,FL,USA
478,HighSchool,2002,229,Larry Fitzgerald,Valley Forge Military Academy (HS),Pittsburgh,WR,75.0,205.0,4,0.9000,Minneapolis,MN,USA
485,HighSchool,2002,236,Terrell Walden,Edison,Miami,CB,70.0,165.0,4,0.9000,Miami,FL,USA
507,HighSchool,2002,258,Anthony Wright,Klein Forest,Colorado,WR,75.0,204.0,4,0.9000,Houston,TX,USA
663,HighSchool,2002,413,Jamar Brittingham,Neshaminy,Rutgers,RB,73.0,190.0,3,0.8333,Langhorne,PA,USA
2195,HighSchool,2003,183,Terrell Walden,Edison,Miami,CB,72.0,170.0,4,0.9000,Miami,FL,USA
2957,HighSchool,2003,945,Jamar Brittingham,The Kiski School,Rutgers,RB,73.0,190.0,3,0.8000,Saltsburg,PA,USA
3099,HighSchool,2003,1087,Kyle Smith,Guthrie,New Mexico State,OG,76.0,250.0,2,0.7667,Guthrie,OK,USA
3525,HighSchool,2003,1512,Jake Thompson,Redlands,Utah State,OT,77.0,280.0,2,0.7667,Redlands,CA,USA
4179,HighSchool,2004,64,Stephen McGee,Burnet,Texas A&M,PRO,75.0,205.0,4,0.9743,Burnet,TX,USA
4237,HighSchool,2004,121,Stephen McGee,Burnet,Texas A&M,PRO,75.0,205.0,4,0.9222,Burnet,TX,USA
4390,HighSchool,2004,275,Corey Davis,Peabody,Pittsburgh,ILB,73.0,302.0,3,0.8778,Pittsburgh,PA,USA
4430,HighSchool,2004,315,Craig Bokor,Hopewell,Pittsburgh,DT,75.0,270.0,3,0.8556,Aliquippa,PA,USA
4447,HighSchool,2004,331,J.T. Diederichs,Ballard,Washington State,RB,74.0,215.0,3,0.8556,Seattle,WA,USA
6392,HighSchool,2005,145,Mike Davis,Columbia,South Carolina,RB,70.0,210.0,4,0.9216,Columbia,SC,USA
6393,HighSchool,2005,146,Tony Wright,Peach County,None,RB,70.0,185.0,4,0.9210,Fort Valley,GA,USA
6913,HighSchool,2005,664,Craig Bokor,Valley Forge Military Academy (HS),Pittsburgh,DT,75.0,280.0,3,0.8333,Wayne,PA,USA
8555,HighSchool,2006,143,Chris James,Morgan Park,Illinois,WR,72.0,180.0,4,0.9291,Chicago,IL,USA
8560,HighSchool,2006,147,Jonathan Massey,Gautier,Vanderbilt,TE,74.0,245.0,4,0.9284,Gautier,MS,USA
8603,HighSchool,2006,189,Jonathan Massey,Gautier,Vanderbilt,TE,74.0,241.0,3,0.8778,Gautier,MS,USA
8812,HighSchool,2006,396,J.T. Diederichs,Dixie,Washington State,APB,74.0,235.0,3,0.8667,Saint George,UT,USA
8974,HighSchool,2006,557,Kevin Green,North Chicago Community Sch,Purdue,OLB,74.0,212.0,3,0.8514,North Chicago,IL,USA
9232,HighSchool,2006,815,Rudy Harrell,Monticello,Arkansas State,DT,78.0,280.0,3,0.8333,Monticello,AR,USA
9771,HighSchool,2006,1354,Kyle Smith,Mansfield Summit,New Mexico State,OT,79.0,315.0,2,0.7667,Arlington,TX,USA
9992,HighSchool,2006,1574,Kenny Sims,Hazelwood Central,Tulsa,CB,70.0,185.0,2,0.7667,Florissant,MO,USA
10001,HighSchool,2006,1583,Jeremiah Warren,Bay,South Florida,OG,75.0,283.0,2,0.7667,Panama City,FL,USA
10038,HighSchool,2006,1620,Julius Fleming,Catholic,New Mexico State,ATH,69.0,170.0,2,0.7444,Baton Rouge,LA,USA
10952,HighSchool,2007,377,Anthony Wright,Compton,Colorado,S,72.0,180.0,3,0.8733,Compton,CA,USA
11140,HighSchool,2007,565,Rolandis Woodland,Rockwood Summit Sr.,Missouri,WR,77.0,185.0,3,0.8556,Fenton,MO,USA
11223,HighSchool,2007,648,George White,Carman-Ainsworth,Missouri,ILB,74.0,252.0,3,0.8497,Flint,MI,USA
11294,HighSchool,2007,719,Mark Oliver,Mount Carmel,Wyoming,ILB,73.0,238.0,3,0.8417,,,USA
11345,HighSchool,2007,770,Mark Oliver,Mount Carmel,Wyoming,ILB,73.0,238.0,2,0.7722,None,None,None
11711,HighSchool,2007,1135,Kenny Sims,Seguin,Tulsa,ILB,72.0,210.0,3,0.8118,Arlington,TX,USA
12258,HighSchool,2007,1682,Jeremiah Warren,Bay,South Florida,OG,76.0,329.0,2,0.7667,Panama City,FL,USA
12455,HighSchool,2007,1879,Julius Fleming,Catholic,New Mexico State,APB,69.0,175.0,2,0.7444,Baton Rouge,LA,USA
12758,HighSchool,2007,2182,Rudy Harrell,Monticello Senior,Arkansas State,OT,78.0,280.0,2,0.7000,Monticello,MN,USA
12777,HighSchool,2007,2201,Obi Ezemma,Spring Valley,Buffalo,APB,71.0,208.0,2,0.7000,Spring Valley,NY,USA
13461,HighSchool,2008,664,Rolandis Woodland,Harmony Community School,Missouri,WR,80.0,185.0,3,0.8556,Cincinnati,OH,USA
13478,HighSchool,2008,681,Nate Palmer,Simeon,Illinois,OLB,75.0,228.0,3,0.8556,Chicago,IL,USA
13527,HighSchool,2008,730,George White,Harmony Community School,Missouri,ILB,62.0,252.0,3,0.8516,Cincinnati,OH,USA
13576,HighSchool,2008,779,Kevin Green,James Rickards,Purdue,CB,71.0,169.0,3,0.8479,Tallahassee,FL,USA
13784,HighSchool,2008,988,Devin Taylor,Battery Creek,South Carolina,WDE,78.0,225.0,3,0.8333,Beaufort,SC,USA
14043,HighSchool,2008,1247,Nate Palmer,Simeon,Illinois,OLB,75.0,220.0,2,0.7444,Chicago,IL,USA
14058,HighSchool,2008,1262,Trevardo Williams,Central,Connecticut,SDE,75.0,210.0,3,0.8111,Bridgeport,CT,USA
14118,HighSchool,2008,1322,Johnny Thompson,Valley HS,Troy,OLB,73.0,205.0,3,0.8021,Valley,AL,USA
14148,HighSchool,2008,1351,Devin Taylor,Beaufort,South Carolina,WDE,79.0,250.0,2,0.7333,Ladys Island,SC,USA
14338,HighSchool,2008,1540,Geoffrey Prather,Archbishop John Carroll,Temple,S,74.0,196.0,2,0.7778,Wayne,PA,USA
14842,HighSchool,2008,2045,Obi Ezemma,Ramapo,Buffalo,ILB,72.0,215.0,2,0.7000,Spring Valley,NY,USA

There are two types of duplicates. People with different ratings. and people who were rated in two different years.

In [12]:
player_recruit_stats_df.drop_duplicates(subset=['name', 'committed_to','year'],keep='first', inplace=True) #to keep their higher rating

In [13]:
player_recruit_stats_df.drop_duplicates(subset=['name', 'committed_to'],keep='last', inplace=True) #some players were rated twice in two different years so we kept the most recent

In [14]:
#looking at the data
player_recruit_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32783 entries, 0 to 32893
Data columns (total 14 columns):
recruit_type      32783 non-null object
year              32783 non-null int64
ranking           32783 non-null int64
name              32783 non-null object
school            32783 non-null object
committed_to      30421 non-null object
position          32783 non-null object
height            32669 non-null float64
weight            32666 non-null float64
stars             32783 non-null int64
rating            32783 non-null float64
city              32779 non-null object
state_province    32779 non-null object
country           32779 non-null object
dtypes: float64(3), int64(3), object(8)
memory usage: 3.8+ MB

In [15]:
# Looking at the spread of data through the years. our data will skew to younger players
player_recruit_stats_df.year.value_counts()

2014    3842
2013    3469
2012    3099
2011    2678
2010    2467
2009    2288
2007    2218
2008    2169
2005    2165
2006    2152
2004    2127
2003    2104
2002    1757
2001     128
2000     120
Name: year, dtype: int64

In [16]:
# Deleting columns that are not needed
player_recruit_stats_df = player_recruit_stats_df.drop(['state_province','country','recruit_type','city'], axis = 1)

In [17]:
# Seeing how the data looks now
player_recruit_stats_df

,year,ranking,name,school,committed_to,position,height,weight,stars,rating
0,2000,1,D.J. Williams,De La Salle,Miami,ILB,74.0,235.0,5,0.9998
1,2000,2,Brock Berlin,Evangel Christian Academy,Florida,PRO,74.0,190.0,5,0.9998
2,2000,3,Charles Rogers,Saginaw,Michigan State,WR,76.0,195.0,5,0.9988
3,2000,4,Travis Johnson,Notre Dame,Florida State,SDE,76.0,265.0,5,0.9982
4,2000,5,Marcus Houston,Thomas Jefferson,Colorado,RB,72.0,208.0,5,0.9980
...,...,...,...,...,...,...,...,...,...,...
32889,2014,3808,Christian Triplett,Delano Senior,North Dakota State,DT,77.0,270.0,1,0.6997
32890,2014,3809,Austin Stapleton,St Joseph Regional,Pennsylvania,OT,77.0,290.0,1,0.6997
32891,2014,3810,Brandon Taylor,Brentwood Academy,Houston Baptist,APB,69.0,155.0,1,0.6997
32892,2014,3811,Jorge Powell,Belen Jesuit Prep,Florida,K,70.0,160.0,1,0.6997
32893,2014,3812,Matt Torrey,Cheshire Academy,New Hampshire,TE,75.0,215.0,1,0.6997

In [18]:
# Renaming columns so they can be merged later easily.
player_recruit_stats_df.rename(columns = {'committed_to':'team','name':'player'}, inplace = True)

In [19]:
player_recruit_stats_df

,year,ranking,player,school,team,position,height,weight,stars,rating
0,2000,1,D.J. Williams,De La Salle,Miami,ILB,74.0,235.0,5,0.9998
1,2000,2,Brock Berlin,Evangel Christian Academy,Florida,PRO,74.0,190.0,5,0.9998
2,2000,3,Charles Rogers,Saginaw,Michigan State,WR,76.0,195.0,5,0.9988
3,2000,4,Travis Johnson,Notre Dame,Florida State,SDE,76.0,265.0,5,0.9982
4,2000,5,Marcus Houston,Thomas Jefferson,Colorado,RB,72.0,208.0,5,0.9980
...,...,...,...,...,...,...,...,...,...,...
32889,2014,3808,Christian Triplett,Delano Senior,North Dakota State,DT,77.0,270.0,1,0.6997
32890,2014,3809,Austin Stapleton,St Joseph Regional,Pennsylvania,OT,77.0,290.0,1,0.6997
32891,2014,3810,Brandon Taylor,Brentwood Academy,Houston Baptist,APB,69.0,155.0,1,0.6997
32892,2014,3811,Jorge Powell,Belen Jesuit Prep,Florida,K,70.0,160.0,1,0.6997
32893,2014,3812,Matt Torrey,Cheshire Academy,New Hampshire,TE,75.0,215.0,1,0.6997

## Season Stats Data

In [20]:
# bringing in the data from 1997 to 2015 since 1997 would be the earliest a player in the 2001 draft could have been playing.

player_season_stats = []

season_years = range(1997, 2015)
for i in season_years:
    
    player_season_stats = player_season_stats + players_api.get_player_season_stats(year=i)
    
player_season_stats_df = pd.DataFrame.from_records([p.to_dict() for p in player_season_stats])
player_season_stats_df.head()

,season,player_id,player,team,conference,category,stat_type,stat
0,None,147939,Michael LeDet,Tulsa,Western Athletic,interceptions,TD,0.0
1,None,146357,Donnie Johnson,Penn State,Big Ten,puntReturns,LONG,6.0
2,None,134775,Trent Shelton,Baylor,Big 12,receiving,YDS,426.0
3,None,166666,Jae Thaxton,Florida State,ACC,puntReturns,AVG,15.0
4,None,136528,Eddie Jackson,West Virginia,Big East,receiving,YDS,246.0

In [21]:
# make sure every column is filled in
player_season_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325998 entries, 0 to 325997
Data columns (total 8 columns):
season        0 non-null object
player_id     325998 non-null int64
player        325998 non-null object
team          325998 non-null object
conference    325998 non-null object
category      325998 non-null object
stat_type     325998 non-null object
stat          325998 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 19.9+ MB

In [22]:
# Season column is not needed as it does not have any data
player_season_stats_df = player_season_stats_df.drop(['season'], axis=1)

In [23]:
# these are categoryies and sub categories so I need to combine these to make them useful
player_season_stats_df['stat_category'] = player_season_stats_df['category'] + player_season_stats_df['stat_type']

In [24]:
player_season_stats_df.head()

,player_id,player,team,conference,category,stat_type,stat,stat_category
0,147939,Michael LeDet,Tulsa,Western Athletic,interceptions,TD,0.0,interceptionsTD
1,146357,Donnie Johnson,Penn State,Big Ten,puntReturns,LONG,6.0,puntReturnsLONG
2,134775,Trent Shelton,Baylor,Big 12,receiving,YDS,426.0,receivingYDS
3,166666,Jae Thaxton,Florida State,ACC,puntReturns,AVG,15.0,puntReturnsAVG
4,136528,Eddie Jackson,West Virginia,Big East,receiving,YDS,246.0,receivingYDS

In [25]:
#rearagining the columns 
player_season_stats_df = player_season_stats_df[["player_id", "player", "team", "conference", "category", "stat_type", "stat_category", "stat"]]

In [26]:
player_season_stats_df.head()

,player_id,player,team,conference,category,stat_type,stat_category,stat
0,147939,Michael LeDet,Tulsa,Western Athletic,interceptions,TD,interceptionsTD,0.0
1,146357,Donnie Johnson,Penn State,Big Ten,puntReturns,LONG,puntReturnsLONG,6.0
2,134775,Trent Shelton,Baylor,Big 12,receiving,YDS,receivingYDS,426.0
3,166666,Jae Thaxton,Florida State,ACC,puntReturns,AVG,puntReturnsAVG,15.0
4,136528,Eddie Jackson,West Virginia,Big East,receiving,YDS,receivingYDS,246.0

In [27]:
# need to condense into season averages for their careers
gkk = player_season_stats_df.groupby(['player_id', 'team', 'player','stat_category'])['stat'].mean()

In [28]:
gkk.head(50)

player_id  team           player  stat_category
-7111      Pittsburgh      Team   puntReturnsAVG       -3.0
                                  puntReturnsLONG       0.0
                                  puntReturnsNO         1.0
                                  puntReturnsTD         0.0
                                  puntReturnsYDS       -3.0
                                  rushingCAR            1.0
                                  rushingLONG           0.0
                                  rushingTD             0.0
                                  rushingYDS           -4.0
                                  rushingYPC           -4.0
-7088      Penn State      Team   rushingCAR            2.0
                                  rushingLONG           0.0
                                  rushingTD             0.0
                                  rushingYDS           -7.0
                                  rushingYPC           -3.5
-7014      Ohio State      Team   rushingCAR            1.0
                                  rushingLONG           0.0
                                  rushingTD             0.0
                                  rushingYDS           -1.0
                                  rushingYPC           -1.0
-6965      Notre Dame      Team   rushingCAR            2.0
                                  rushingLONG           0.0
                                  rushingTD             0.0
                                  rushingYDS           -4.0
                                  rushingYPC           -2.0
-6810      Navy            Team   passingATT            1.0
                                  passingCOMPLETIONS    0.0
                                  passingINT            0.0
                                  passingPCT            0.0
                                  passingTD             0.0
                                  passingYDS            0.0
                                  passingYPA            0.0
-6530      Marshall        Team   rushingCAR            3.0
                                  rushingLONG           0.0
                                  rushingTD             0.0
                                  rushingYDS           -9.0
                                  rushingYPC           -3.0
-5995      Florida State   Team   rushingCAR            2.0
                                  rushingLONG           0.0
                                  rushingTD             0.0
                                  rushingYDS           -6.0
                                  rushingYPC           -3.0
-5151      Akron           Team   rushingCAR            3.0
                                  rushingLONG           0.0
                                  rushingTD             0.0
                                  rushingYDS           -4.0
                                  rushingYPC           -1.3
-5         UAB             Team   passingATT            2.0
                                  passingCOMPLETIONS    0.0
                                  passingINT            0.0
Name: stat, dtype: float64

In [29]:
#unstacking to turn the groupyby into a dataframe
gkk = gkk.unstack(level=-1)

In [30]:
gkk

,,stat_category,interceptionsAVG,interceptionsINT,interceptionsTD,interceptionsYDS,kickReturnsAVG,kickReturnsLONG,kickReturnsNO,kickReturnsTD,kickReturnsYDS,kickingFGA,...,receivingLONG,receivingREC,receivingTD,receivingYDS,receivingYPR,rushingCAR,rushingLONG,rushingTD,rushingYDS,rushingYPC
player_id,team,player,,,,,,,,,,,,,,,,,,,,,
-7111,Pittsburgh,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-4.0,-4.0
-7088,Penn State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-7.0,-3.5
-7014,Ohio State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-1.0,-1.0
-6965,Notre Dame,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-4.0,-2.0
-6810,Navy,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3159129,Middle Tennessee,Sean O'kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3160510,Arkansas State,Logan Spry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3161453,Arizona,- Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,-6.0,-1.5
3164432,Maryland,- Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3164640,Florida,Vernon Hargreaves,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#resesting index to remove the groupyby construct
gkk.reset_index()

stat_category,player_id,team,player,interceptionsAVG,interceptionsINT,interceptionsTD,interceptionsYDS,kickReturnsAVG,kickReturnsLONG,kickReturnsNO,...,receivingLONG,receivingREC,receivingTD,receivingYDS,receivingYPR,rushingCAR,rushingLONG,rushingTD,rushingYDS,rushingYPC
0,-7111,Pittsburgh,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-4.0,-4.0
1,-7088,Penn State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-7.0,-3.5
2,-7014,Ohio State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-1.0,-1.0
3,-6965,Notre Dame,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-4.0,-2.0
4,-6810,Navy,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20027,3159129,Middle Tennessee,Sean O'kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20028,3160510,Arkansas State,Logan Spry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20029,3161453,Arizona,- Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,-6.0,-1.5
20030,3164432,Maryland,- Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20031,3164640,Florida,Vernon Hargreaves,0.0,1.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#saving as csv to reset it completely
gkk.to_csv('season_avg_stats.csv')

In [33]:
#reading the csv
season_avg_stats_df = pd.read_csv('season_avg_stats.csv')

In [34]:
season_avg_stats_df

,player_id,team,player,interceptionsAVG,interceptionsINT,interceptionsTD,interceptionsYDS,kickReturnsAVG,kickReturnsLONG,kickReturnsNO,...,receivingLONG,receivingREC,receivingTD,receivingYDS,receivingYPR,rushingCAR,rushingLONG,rushingTD,rushingYDS,rushingYPC
0,-7111,Pittsburgh,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-4.0,-4.0
1,-7088,Penn State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-7.0,-3.5
2,-7014,Ohio State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-1.0,-1.0
3,-6965,Notre Dame,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-4.0,-2.0
4,-6810,Navy,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20027,3159129,Middle Tennessee,Sean O'kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20028,3160510,Arkansas State,Logan Spry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20029,3161453,Arizona,- Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,-6.0,-1.5
20030,3164432,Maryland,- Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20031,3164640,Florida,Vernon Hargreaves,0.0,1.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
season_avg_stats_df.player.value_counts(10)

- Team              0.000849
Michael Johnson     0.000449
 Team               0.000449
Brandon Williams    0.000449
Chris Johnson       0.000399
                      ...
Aaron Tevis         0.000050
Anthony Robinson    0.000050
Charlie Hopkins     0.000050
Jerrell Mabry       0.000050
Jevante Watson      0.000050
Name: player, Length: 18888, dtype: float64

In [37]:
season_avg_stats_df.loc[season_avg_stats_df['player'] == ' Team']

,player_id,team,player,interceptionsAVG,interceptionsINT,interceptionsTD,interceptionsYDS,kickReturnsAVG,kickReturnsLONG,kickReturnsNO,...,receivingLONG,receivingREC,receivingTD,receivingYDS,receivingYPR,rushingCAR,rushingLONG,rushingTD,rushingYDS,rushingYPC
0,-7111,Pittsburgh,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-4.0,-4.0
1,-7088,Penn State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-7.0,-3.5
2,-7014,Ohio State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,-1.0,-1.0
3,-6965,Notre Dame,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-4.0,-2.0
4,-6810,Navy,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,-6530,Marshall,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,-9.0,-3.0
6,-5995,Florida State,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,-6.0,-3.0
7,-5151,Akron,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,-4.0,-1.3
8,-5,UAB,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.0,0.0,0.0,-9.0,-1.5

no reason to delete the team rows as they will be taken out when we merge and there is no player named team.

In [38]:
recruit_and_season_avg_df = pd.merge(player_recruit_stats_df, season_avg_stats_df, on=["player", "team"])

In [39]:
recruit_and_season_avg_df

,year,ranking,player,school,team,position,height,weight,stars,rating,...,receivingLONG,receivingREC,receivingTD,receivingYDS,receivingYPR,rushingCAR,rushingLONG,rushingTD,rushingYDS,rushingYPC
0,2000,8,Bryant McFadden,McArthur,Florida State,CB,73.0,182.0,5,0.9968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,17,Chance Mock,The Woodlands,Texas,PRO,74.0,190.0,5,0.9918,...,NaN,NaN,NaN,NaN,NaN,7.0,3.0,0.0,-14.0,-2.0
2,2000,19,Matt Grootegoed,Mater Dei,USC,OLB,71.0,205.0,5,0.9914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,28,Cory Bailey,American,Florida,S,70.0,175.0,5,0.9880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,32,Jason Campbell,Taylorsville,Auburn,PRO,77.0,190.0,5,0.9853,...,NaN,NaN,NaN,NaN,NaN,58.0,28.0,3.0,30.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10457,2014,3466,Papi White,Seminole,Ohio,RB,69.0,168.0,2,0.7330,...,7.0,1.0,0.0,7.0,7.0,6.0,7.0,0.0,23.0,3.8
10458,2014,3732,Christian Hagan,Westside,Northern Illinois,K,72.0,165.0,1,0.6997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10459,2014,3736,Brett Layton,Redlands,Ohio,CB,71.0,190.0,1,0.6997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10460,2014,3781,Hunter Sharp,Antelope Valley,Utah State,WR,73.0,190.0,1,0.6997,...,81.0,66.0,7.0,939.0,14.2,6.0,12.0,0.0,28.0,4.7
10461,2014,3782,Nate Terry,South Dade,Florida Atlantic,WR,77.0,200.0,1,0.6997,...,20.0,3.0,1.0,55.0,18.3,NaN,NaN,NaN,NaN,NaN

In [40]:
recruit_and_season_avg_df.isna().sum()

year                      0
ranking                   0
player                    0
school                    0
team                      0
position                  0
height                   33
weight                   35
stars                     0
rating                    0
player_id                 0
interceptionsAVG       7118
interceptionsINT       7118
interceptionsTD        7118
interceptionsYDS       7118
kickReturnsAVG         8229
kickReturnsLONG        8229
kickReturnsNO          8229
kickReturnsTD          8229
kickReturnsYDS         8229
kickingFGA            10156
kickingFGM            10156
kickingLONG           10156
kickingPCT            10156
kickingPTS            10156
kickingXPA            10156
kickingXPM            10156
passingATT             8849
passingCOMPLETIONS     8849
passingINT             8849
passingPCT             8849
passingTD              8849
passingYDS             8849
passingYPA             8849
puntReturnsAVG         8583
puntReturnsLONG        8583
puntReturnsNO          8583
puntReturnsTD          8583
puntReturnsYDS         8583
puntingIn 20          10070
puntingLONG           10070
puntingNO             10070
puntingTB             10070
puntingYDS            10070
puntingYPP            10070
receivingLONG          5156
receivingREC           5156
receivingTD            5156
receivingYDS           5156
receivingYPR           5156
rushingCAR             5954
rushingLONG            5954
rushingTD              5954
rushingYDS             5954
rushingYPC             5954
dtype: int64

In [41]:
#filling in with average height
recruit_and_season_avg_df['height'].fillna(recruit_and_season_avg_df['height'].mean(), inplace=True)

In [42]:
recruit_and_season_avg_df.isna().sum()

year                      0
ranking                   0
player                    0
school                    0
team                      0
position                  0
height                    0
weight                   35
stars                     0
rating                    0
player_id                 0
interceptionsAVG       7118
interceptionsINT       7118
interceptionsTD        7118
interceptionsYDS       7118
kickReturnsAVG         8229
kickReturnsLONG        8229
kickReturnsNO          8229
kickReturnsTD          8229
kickReturnsYDS         8229
kickingFGA            10156
kickingFGM            10156
kickingLONG           10156
kickingPCT            10156
kickingPTS            10156
kickingXPA            10156
kickingXPM            10156
passingATT             8849
passingCOMPLETIONS     8849
passingINT             8849
passingPCT             8849
passingTD              8849
passingYDS             8849
passingYPA             8849
puntReturnsAVG         8583
puntReturnsLONG        8583
puntReturnsNO          8583
puntReturnsTD          8583
puntReturnsYDS         8583
puntingIn 20          10070
puntingLONG           10070
puntingNO             10070
puntingTB             10070
puntingYDS            10070
puntingYPP            10070
receivingLONG          5156
receivingREC           5156
receivingTD            5156
receivingYDS           5156
receivingYPR           5156
rushingCAR             5954
rushingLONG            5954
rushingTD              5954
rushingYDS             5954
rushingYPC             5954
dtype: int64

In [43]:
#filling in with average weight
recruit_and_season_avg_df['weight'].fillna(recruit_and_season_avg_df['weight'].mean(), inplace=True)

In [44]:
recruit_and_season_avg_df.isna().sum()

year                      0
ranking                   0
player                    0
school                    0
team                      0
position                  0
height                    0
weight                    0
stars                     0
rating                    0
player_id                 0
interceptionsAVG       7118
interceptionsINT       7118
interceptionsTD        7118
interceptionsYDS       7118
kickReturnsAVG         8229
kickReturnsLONG        8229
kickReturnsNO          8229
kickReturnsTD          8229
kickReturnsYDS         8229
kickingFGA            10156
kickingFGM            10156
kickingLONG           10156
kickingPCT            10156
kickingPTS            10156
kickingXPA            10156
kickingXPM            10156
passingATT             8849
passingCOMPLETIONS     8849
passingINT             8849
passingPCT             8849
passingTD              8849
passingYDS             8849
passingYPA             8849
puntReturnsAVG         8583
puntReturnsLONG        8583
puntReturnsNO          8583
puntReturnsTD          8583
puntReturnsYDS         8583
puntingIn 20          10070
puntingLONG           10070
puntingNO             10070
puntingTB             10070
puntingYDS            10070
puntingYPP            10070
receivingLONG          5156
receivingREC           5156
receivingTD            5156
receivingYDS           5156
receivingYPR           5156
rushingCAR             5954
rushingLONG            5954
rushingTD              5954
rushingYDS             5954
rushingYPC             5954
dtype: int64

In [45]:
#if a stat is Nan it means it wasn't there and there for should be zero
recruit_and_season_avg_df.fillna(0, inplace=True)

In [46]:
recruit_and_season_avg_df.isna().sum()

year                  0
ranking               0
player                0
school                0
team                  0
position              0
height                0
weight                0
stars                 0
rating                0
player_id             0
interceptionsAVG      0
interceptionsINT      0
interceptionsTD       0
interceptionsYDS      0
kickReturnsAVG        0
kickReturnsLONG       0
kickReturnsNO         0
kickReturnsTD         0
kickReturnsYDS        0
kickingFGA            0
kickingFGM            0
kickingLONG           0
kickingPCT            0
kickingPTS            0
kickingXPA            0
kickingXPM            0
passingATT            0
passingCOMPLETIONS    0
passingINT            0
passingPCT            0
passingTD             0
passingYDS            0
passingYPA            0
puntReturnsAVG        0
puntReturnsLONG       0
puntReturnsNO         0
puntReturnsTD         0
puntReturnsYDS        0
puntingIn 20          0
puntingLONG           0
puntingNO             0
puntingTB             0
puntingYDS            0
puntingYPP            0
receivingLONG         0
receivingREC          0
receivingTD           0
receivingYDS          0
receivingYPR          0
rushingCAR            0
rushingLONG           0
rushingTD             0
rushingYDS            0
rushingYPC            0
dtype: int64

## Combine Data

In [49]:
#Reading a gathered data set 
Combine_df = pd.read_excel('Data/Draft_2001_2015.xls')

In [50]:
Combine_df.head()

,Year,Player,Pos,Age,AV,School,Unnamed: 6,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)▲
0,2015,Jameis Winston\WinsJa00,QB,21,59,Florida State,College Stats,2021-06-04,231,4.97,28.5,NaN,103.0,7.16,4.36,Tampa Bay Buccaneers / 1st / 1st pick / 2015
1,2015,Marcus Mariota\MariMa01,QB,21,49,Oregon,College Stats,2021-06-04,222,4.52,36.0,NaN,121.0,6.87,4.11,Tennessee Titans / 1st / 2nd pick / 2015
2,2015,Amari Cooper\CoopAm00,WR,20,51,Alabama,College Stats,2021-06-01,211,4.42,33.0,NaN,120.0,6.71,3.98,Oakland Raiders / 1st / 4th pick / 2015
3,2015,Brandon Scherff\ScheBr00,OT,23,43,Iowa,College Stats,2021-06-05,319,5.05,NaN,23.0,NaN,NaN,NaN,Washington Redskins / 1st / 5th pick / 2015
4,2015,Leonard Williams\WillLe02,DT,20,49,USC,College Stats,2021-06-05,302,4.97,29.5,NaN,106.0,7.59,4.53,New York Jets / 1st / 6th pick / 2015

Looking at the data above we will have to clean up the player name and drafted will need be changed to numerical.

In [51]:
Combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
Year                    3000 non-null int64
Player                  3000 non-null object
Pos                     3000 non-null object
Age                     3000 non-null int64
AV                      3000 non-null int64
School                  3000 non-null object
Unnamed: 6              2460 non-null object
Height                  3000 non-null datetime64[ns]
Wt                      3000 non-null int64
40YD                    2987 non-null float64
Vertical                2344 non-null float64
BenchReps               2088 non-null float64
Broad Jump              2312 non-null float64
3Cone                   1969 non-null float64
Shuttle                 2006 non-null float64
Drafted (tm/rnd/yr)▲    2468 non-null object
dtypes: datetime64[ns](1), float64(6), int64(4), object(5)
memory usage: 375.1+ KB

In [52]:
#Dropping useless column
Combine_df = Combine_df.drop(['Unnamed: 6'], axis=1)

In [53]:
#seeing how the data is displayed
Combine_df['Player'][0]

'Jameis Winston\\WinsJa00'

In [54]:
#splitting the column
Combine_df['Player_name'] = Combine_df['Player'].str.split("\\")

In [55]:
Combine_df

,Year,Player,Pos,Age,AV,School,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)▲,Player_name
0,2015,Jameis Winston\WinsJa00,QB,21,59,Florida State,2021-06-04,231,4.97,28.5,NaN,103.0,7.16,4.36,Tampa Bay Buccaneers / 1st / 1st pick / 2015,"[Jameis Winston, WinsJa00]"
1,2015,Marcus Mariota\MariMa01,QB,21,49,Oregon,2021-06-04,222,4.52,36.0,NaN,121.0,6.87,4.11,Tennessee Titans / 1st / 2nd pick / 2015,"[Marcus Mariota, MariMa01]"
2,2015,Amari Cooper\CoopAm00,WR,20,51,Alabama,2021-06-01,211,4.42,33.0,NaN,120.0,6.71,3.98,Oakland Raiders / 1st / 4th pick / 2015,"[Amari Cooper, CoopAm00]"
3,2015,Brandon Scherff\ScheBr00,OT,23,43,Iowa,2021-06-05,319,5.05,NaN,23.0,NaN,NaN,NaN,Washington Redskins / 1st / 5th pick / 2015,"[Brandon Scherff, ScheBr00]"
4,2015,Leonard Williams\WillLe02,DT,20,49,USC,2021-06-05,302,4.97,29.5,NaN,106.0,7.59,4.53,New York Jets / 1st / 6th pick / 2015,"[Leonard Williams, WillLe02]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2001,Fred Wakefield\WakeFr00,DE,22,17,Illinois,2021-06-07,287,5.09,29.0,26.0,108.0,7.49,4.64,NaN,"[Fred Wakefield, WakeFr00]"
2996,2001,James Whitley\WhitJa21,CB,21,2,Michigan,2021-05-10,193,4.73,39.0,9.0,118.0,7.04,4.40,NaN,"[James Whitley, WhitJa21]"
2997,2001,Reggie White\WhitRe20,RB,21,0,Oklahoma State,2000-06-01,228,4.58,37.5,17.0,114.0,7.48,4.40,NaN,"[Reggie White, WhitRe20]"
2998,2001,Boo Williams\WillBo00,TE,21,11,Arkansas,2021-06-04,237,4.72,35.5,NaN,119.0,7.10,4.33,NaN,"[Boo Williams, WillBo00]"
2999,2001,Marcus Williams\WillMa21,WR,23,0,Washington State,2021-06-05,230,4.56,41.0,NaN,130.0,7.37,4.20,NaN,"[Marcus Williams, WillMa21]"

In [56]:
#splitting them into different columns
Combine_df[['Player_names','Garbage']] = pd.DataFrame(Combine_df.Player_name.tolist(), index= Combine_df.index)

In [57]:
Combine_df

,Year,Player,Pos,Age,AV,School,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)▲,Player_name,Player_names,Garbage
0,2015,Jameis Winston\WinsJa00,QB,21,59,Florida State,2021-06-04,231,4.97,28.5,NaN,103.0,7.16,4.36,Tampa Bay Buccaneers / 1st / 1st pick / 2015,"[Jameis Winston, WinsJa00]",Jameis Winston,WinsJa00
1,2015,Marcus Mariota\MariMa01,QB,21,49,Oregon,2021-06-04,222,4.52,36.0,NaN,121.0,6.87,4.11,Tennessee Titans / 1st / 2nd pick / 2015,"[Marcus Mariota, MariMa01]",Marcus Mariota,MariMa01
2,2015,Amari Cooper\CoopAm00,WR,20,51,Alabama,2021-06-01,211,4.42,33.0,NaN,120.0,6.71,3.98,Oakland Raiders / 1st / 4th pick / 2015,"[Amari Cooper, CoopAm00]",Amari Cooper,CoopAm00
3,2015,Brandon Scherff\ScheBr00,OT,23,43,Iowa,2021-06-05,319,5.05,NaN,23.0,NaN,NaN,NaN,Washington Redskins / 1st / 5th pick / 2015,"[Brandon Scherff, ScheBr00]",Brandon Scherff,ScheBr00
4,2015,Leonard Williams\WillLe02,DT,20,49,USC,2021-06-05,302,4.97,29.5,NaN,106.0,7.59,4.53,New York Jets / 1st / 6th pick / 2015,"[Leonard Williams, WillLe02]",Leonard Williams,WillLe02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2001,Fred Wakefield\WakeFr00,DE,22,17,Illinois,2021-06-07,287,5.09,29.0,26.0,108.0,7.49,4.64,NaN,"[Fred Wakefield, WakeFr00]",Fred Wakefield,WakeFr00
2996,2001,James Whitley\WhitJa21,CB,21,2,Michigan,2021-05-10,193,4.73,39.0,9.0,118.0,7.04,4.40,NaN,"[James Whitley, WhitJa21]",James Whitley,WhitJa21
2997,2001,Reggie White\WhitRe20,RB,21,0,Oklahoma State,2000-06-01,228,4.58,37.5,17.0,114.0,7.48,4.40,NaN,"[Reggie White, WhitRe20]",Reggie White,WhitRe20
2998,2001,Boo Williams\WillBo00,TE,21,11,Arkansas,2021-06-04,237,4.72,35.5,NaN,119.0,7.10,4.33,NaN,"[Boo Williams, WillBo00]",Boo Williams,WillBo00
2999,2001,Marcus Williams\WillMa21,WR,23,0,Washington State,2021-06-05,230,4.56,41.0,NaN,130.0,7.37,4.20,NaN,"[Marcus Williams, WillMa21]",Marcus Williams,WillMa21

In [58]:
#get rid of the combined column
Combine_df = Combine_df.drop(['Player_name'], axis=1)

In [59]:
Combine_df.head()

,Year,Player,Pos,Age,AV,School,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)▲,Player_names,Garbage
0,2015,Jameis Winston\WinsJa00,QB,21,59,Florida State,2021-06-04,231,4.97,28.5,NaN,103.0,7.16,4.36,Tampa Bay Buccaneers / 1st / 1st pick / 2015,Jameis Winston,WinsJa00
1,2015,Marcus Mariota\MariMa01,QB,21,49,Oregon,2021-06-04,222,4.52,36.0,NaN,121.0,6.87,4.11,Tennessee Titans / 1st / 2nd pick / 2015,Marcus Mariota,MariMa01
2,2015,Amari Cooper\CoopAm00,WR,20,51,Alabama,2021-06-01,211,4.42,33.0,NaN,120.0,6.71,3.98,Oakland Raiders / 1st / 4th pick / 2015,Amari Cooper,CoopAm00
3,2015,Brandon Scherff\ScheBr00,OT,23,43,Iowa,2021-06-05,319,5.05,NaN,23.0,NaN,NaN,NaN,Washington Redskins / 1st / 5th pick / 2015,Brandon Scherff,ScheBr00
4,2015,Leonard Williams\WillLe02,DT,20,49,USC,2021-06-05,302,4.97,29.5,NaN,106.0,7.59,4.53,New York Jets / 1st / 6th pick / 2015,Leonard Williams,WillLe02

In [60]:
#seeing if any duplicate on the unique defininer
duplicateRowsgarbageDF = Combine_df[Combine_df.Garbage.duplicated(keep=False)]

In [61]:
duplicateRowsgarbageDF

,Year,Player,Pos,Age,AV,School,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)▲,Player_names,Garbage
1658,2007,Buster Davis\DaviBu99,WR,23,2,Florida State,2021-06-01,207,4.41,NaN,NaN,NaN,NaN,NaN,Arizona Cardinals / 3rd / 69th pick / 2007,Buster Davis,DaviBu99
1659,2007,Buster Davis\DaviBu99,ILB,23,2,Florida State,2021-05-09,239,4.64,31.0,24.0,104.0,7.28,4.37,Arizona Cardinals / 3rd / 69th pick / 2007,Buster Davis,DaviBu99

In [62]:
#get rid of the player we don't have any other data on
Combine_df.drop_duplicates(subset=['Garbage'],keep='last', inplace=True)

In [65]:
duplicatedcombineDF = Combine_df[Combine_df.duplicated(['Player_names', 'School'],keep=False)]

In [66]:
duplicatedcombineDF

,Year,Player,Pos,Age,AV,School,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)▲,Player_names,Garbage
2011,2005,Derrick Johnson\JohnDe25,OLB,22,107,Texas,2021-06-03,242,4.52,37.5,NaN,120.0,7.20,3.87,Kansas City Chiefs / 1st / 15th pick / 2005,Derrick Johnson,JohnDe25
2147,2005,Derrick Johnson\JohnDe24,CB,23,2,Texas,2021-05-11,197,4.43,NaN,18.0,NaN,7.15,4.10,San Francisco 49ers / 6th / 205th pick / 2005,Derrick Johnson,JohnDe24

In [67]:
Combine_df.drop_duplicates(subset=['Player_names', 'School'],keep='first', inplace=True) #the other guy isn't in our other DF

In [69]:
# seeing what data needs filled in
Combine_df.isna().sum()

Year                       0
Player                     0
Pos                        0
Age                        0
AV                         0
School                     0
Height                     0
Wt                         0
40YD                      13
Vertical                 654
BenchReps                911
Broad Jump               686
3Cone                   1030
Shuttle                  993
Drafted (tm/rnd/yr)▲     532
Player_names               0
Garbage                    0
dtype: int64

In [70]:
Combine_df.describe()

,Year,Age,AV,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle
count,2998.000000,2998.000000,2998.000000,2998.000000,2985.000000,2344.000000,2087.000000,2312.000000,1968.000000,2005.000000
mean,2008.001334,22.090394,20.307872,245.037358,4.763548,33.265572,21.644945,114.439014,7.257464,4.366933
std,4.322269,0.969075,27.676770,45.108388,0.301496,4.224971,6.545581,9.143346,0.402459,0.261408
min,2001.000000,18.000000,-4.000000,156.000000,4.220000,19.500000,2.000000,83.000000,6.420000,3.730000
25%,2004.000000,22.000000,1.000000,207.000000,4.520000,30.500000,17.000000,109.000000,6.960000,4.170000
50%,2008.000000,22.000000,8.000000,237.000000,4.690000,33.500000,21.000000,115.000000,7.180000,4.330000
75%,2012.000000,23.000000,30.000000,285.000000,4.970000,36.000000,26.000000,121.000000,7.510000,4.530000
max,2015.000000,28.000000,276.000000,375.000000,5.990000,46.000000,49.000000,147.000000,9.000000,5.270000

the 40, shuttle and 3cone have a small std so I feel confident in giving them the avg for their nan values

In [71]:
Combine_df['40YD'].fillna(Combine_df['40YD'].mean(), inplace=True)
Combine_df['3Cone'].fillna(Combine_df['3Cone'].mean(), inplace=True)
Combine_df['Shuttle'].fillna(Combine_df['Shuttle'].mean(), inplace=True)

In [72]:
Combine_df['Drafted (tm/rnd/yr)▲'][0]

'Tampa Bay Buccaneers / 1st / 1st pick / 2015'

In [73]:
Combine_df.rename(columns = {'Drafted (tm/rnd/yr)▲':'Drafted'}, inplace = True)

In [74]:
Combine_df['Drafted'].fillna('None / 8th / 300th pick / 2020', inplace=True)

In [75]:
Combine_df['Drafted'] = Combine_df['Drafted'].str.split("/")

In [76]:
Combine_df

,Year,Player,Pos,Age,AV,School,Height,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,Drafted,Player_names,Garbage
0,2015,Jameis Winston\WinsJa00,QB,21,59,Florida State,2021-06-04,231,4.97,28.5,NaN,103.0,7.160000,4.360000,"[Tampa Bay Buccaneers , 1st , 1st pick , 2015]",Jameis Winston,WinsJa00
1,2015,Marcus Mariota\MariMa01,QB,21,49,Oregon,2021-06-04,222,4.52,36.0,NaN,121.0,6.870000,4.110000,"[Tennessee Titans , 1st , 2nd pick , 2015]",Marcus Mariota,MariMa01
2,2015,Amari Cooper\CoopAm00,WR,20,51,Alabama,2021-06-01,211,4.42,33.0,NaN,120.0,6.710000,3.980000,"[Oakland Raiders , 1st , 4th pick , 2015]",Amari Cooper,CoopAm00
3,2015,Brandon Scherff\ScheBr00,OT,23,43,Iowa,2021-06-05,319,5.05,NaN,23.0,NaN,7.257464,4.366933,"[Washington Redskins , 1st , 5th pick , 2015]",Brandon Scherff,ScheBr00
4,2015,Leonard Williams\WillLe02,DT,20,49,USC,2021-06-05,302,4.97,29.5,NaN,106.0,7.590000,4.530000,"[New York Jets , 1st , 6th pick , 2015]",Leonard Williams,WillLe02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2001,Fred Wakefield\WakeFr00,DE,22,17,Illinois,2021-06-07,287,5.09,29.0,26.0,108.0,7.490000,4.640000,"[None , 8th , 300th pick , 2020]",Fred Wakefield,WakeFr00
2996,2001,James Whitley\WhitJa21,CB,21,2,Michigan,2021-05-10,193,4.73,39.0,9.0,118.0,7.040000,4.400000,"[None , 8th , 300th pick , 2020]",James Whitley,WhitJa21
2997,2001,Reggie White\WhitRe20,RB,21,0,Oklahoma State,2000-06-01,228,4.58,37.5,17.0,114.0,7.480000,4.400000,"[None , 8th , 300th pick , 2020]",Reggie White,WhitRe20
2998,2001,Boo Williams\WillBo00,TE,21,11,Arkansas,2021-06-04,237,4.72,35.5,NaN,119.0,7.100000,4.330000,"[None , 8th , 300th pick , 2020]",Boo Williams,WillBo00
2999,2001,Marcus Williams\WillMa21,WR,23,0,Washington State,2021-06-05,230,4.56,41.0,NaN,130.0,7.370000,4.200000,"[None , 8th , 300th pick , 2020]",Marcus Williams,WillMa21

In [77]:
#breaking out the drafted into invidual columns so they can be used for modeling
Combine_df[['Drafted_team','Round','Pick','year_d']] = pd.DataFrame(Combine_df.Drafted.tolist(), index= Combine_df.index)

In [78]:
Combine_df

,Year,Player,Pos,Age,AV,School,Height,Wt,40YD,Vertical,...,Broad Jump,3Cone,Shuttle,Drafted,Player_names,Garbage,Drafted_team,Round,Pick,year_d
0,2015,Jameis Winston\WinsJa00,QB,21,59,Florida State,2021-06-04,231,4.97,28.5,...,103.0,7.160000,4.360000,"[Tampa Bay Buccaneers , 1st , 1st pick , 2015]",Jameis Winston,WinsJa00,Tampa Bay Buccaneers,1st,1st pick,2015
1,2015,Marcus Mariota\MariMa01,QB,21,49,Oregon,2021-06-04,222,4.52,36.0,...,121.0,6.870000,4.110000,"[Tennessee Titans , 1st , 2nd pick , 2015]",Marcus Mariota,MariMa01,Tennessee Titans,1st,2nd pick,2015
2,2015,Amari Cooper\CoopAm00,WR,20,51,Alabama,2021-06-01,211,4.42,33.0,...,120.0,6.710000,3.980000,"[Oakland Raiders , 1st , 4th pick , 2015]",Amari Cooper,CoopAm00,Oakland Raiders,1st,4th pick,2015
3,2015,Brandon Scherff\ScheBr00,OT,23,43,Iowa,2021-06-05,319,5.05,NaN,...,NaN,7.257464,4.366933,"[Washington Redskins , 1st , 5th pick , 2015]",Brandon Scherff,ScheBr00,Washington Redskins,1st,5th pick,2015
4,2015,Leonard Williams\WillLe02,DT,20,49,USC,2021-06-05,302,4.97,29.5,...,106.0,7.590000,4.530000,"[New York Jets , 1st , 6th pick , 2015]",Leonard Williams,WillLe02,New York Jets,1st,6th pick,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2001,Fred Wakefield\WakeFr00,DE,22,17,Illinois,2021-06-07,287,5.09,29.0,...,108.0,7.490000,4.640000,"[None , 8th , 300th pick , 2020]",Fred Wakefield,WakeFr00,None,8th,300th pick,2020
2996,2001,James Whitley\WhitJa21,CB,21,2,Michigan,2021-05-10,193,4.73,39.0,...,118.0,7.040000,4.400000,"[None , 8th , 300th pick , 2020]",James Whitley,WhitJa21,None,8th,300th pick,2020
2997,2001,Reggie White\WhitRe20,RB,21,0,Oklahoma State,2000-06-01,228,4.58,37.5,...,114.0,7.480000,4.400000,"[None , 8th , 300th pick , 2020]",Reggie White,WhitRe20,None,8th,300th pick,2020
2998,2001,Boo Williams\WillBo00,TE,21,11,Arkansas,2021-06-04,237,4.72,35.5,...,119.0,7.100000,4.330000,"[None , 8th , 300th pick , 2020]",Boo Williams,WillBo00,None,8th,300th pick,2020
2999,2001,Marcus Williams\WillMa21,WR,23,0,Washington State,2021-06-05,230,4.56,41.0,...,130.0,7.370000,4.200000,"[None , 8th , 300th pick , 2020]",Marcus Williams,WillMa21,None,8th,300th pick,2020

In [79]:
#getting means by position so that they are more accurate
Combine_df.groupby(['Pos'])['Vertical','BenchReps','Broad Jump'].mean()

      Vertical  BenchReps  Broad Jump
Pos
C    28.463235  26.743243  101.911765
CB   36.364815  14.667969  122.106618
DE   33.507732  24.376884  115.256545
DT   29.475410  28.864865  104.692737
FB   32.363636  23.500000  112.490909
ILB  33.530435  23.438596  114.754386
K    33.500000  13.000000  116.000000
LS         NaN  15.000000         NaN
OG   28.127660  26.136986  101.170370
OLB  34.710383  22.983516  117.716578
OT   28.357143  25.348837  102.844311
P    30.500000  17.000000  120.000000
QB   31.936937  20.833333  110.990909
RB   34.819048  20.084158  118.368421
S    35.846774  17.213904  120.405405
TE   33.340278  20.827815  114.755245
WR   35.895765  15.277419  121.023729

In [80]:
#Filling in with the average by position
Combine_df['Vertical']=Combine_df.groupby(['Pos'])['Vertical'].apply(lambda x : x.fillna(x.mean()))
Combine_df['BenchReps']=Combine_df.groupby(['Pos'])['BenchReps'].apply(lambda x : x.fillna(x.mean()))
Combine_df['Broad Jump']=Combine_df.groupby(['Pos'])['Broad Jump'].apply(lambda x : x.fillna(x.mean()))

In [81]:
Combine_df.isna().sum()

Year            0
Player          0
Pos             0
Age             0
AV              0
School          0
Height          0
Wt              0
40YD            0
Vertical        5
BenchReps       0
Broad Jump      5
3Cone           0
Shuttle         0
Drafted         0
Player_names    0
Garbage         0
Drafted_team    0
Round           0
Pick            0
year_d          0
dtype: int64

In [82]:
Combine_df.fillna(0, inplace=True)

In [83]:
Combine_df.isna().sum()

Year            0
Player          0
Pos             0
Age             0
AV              0
School          0
Height          0
Wt              0
40YD            0
Vertical        0
BenchReps       0
Broad Jump      0
3Cone           0
Shuttle         0
Drafted         0
Player_names    0
Garbage         0
Drafted_team    0
Round           0
Pick            0
year_d          0
dtype: int64

In [84]:
# Turinging them numerical
Combine_df['Round'] = Combine_df.Round.str.extract('(\d+)')
Combine_df['Pick'] = Combine_df.Pick.str.extract('(\d+)')

In [85]:
# Renaming for merging
Combine_df.rename(columns = {'School':'team', 'Player':'Player_extra', 'Player_names':'player'}, inplace = True)

In [86]:
Combine_df

,Year,Player_extra,Pos,Age,AV,team,Height,Wt,40YD,Vertical,...,Broad Jump,3Cone,Shuttle,Drafted,player,Garbage,Drafted_team,Round,Pick,year_d
0,2015,Jameis Winston\WinsJa00,QB,21,59,Florida State,2021-06-04,231,4.97,28.500000,...,103.000000,7.160000,4.360000,"[Tampa Bay Buccaneers , 1st , 1st pick , 2015]",Jameis Winston,WinsJa00,Tampa Bay Buccaneers,1,1,2015
1,2015,Marcus Mariota\MariMa01,QB,21,49,Oregon,2021-06-04,222,4.52,36.000000,...,121.000000,6.870000,4.110000,"[Tennessee Titans , 1st , 2nd pick , 2015]",Marcus Mariota,MariMa01,Tennessee Titans,1,2,2015
2,2015,Amari Cooper\CoopAm00,WR,20,51,Alabama,2021-06-01,211,4.42,33.000000,...,120.000000,6.710000,3.980000,"[Oakland Raiders , 1st , 4th pick , 2015]",Amari Cooper,CoopAm00,Oakland Raiders,1,4,2015
3,2015,Brandon Scherff\ScheBr00,OT,23,43,Iowa,2021-06-05,319,5.05,28.357143,...,102.844311,7.257464,4.366933,"[Washington Redskins , 1st , 5th pick , 2015]",Brandon Scherff,ScheBr00,Washington Redskins,1,5,2015
4,2015,Leonard Williams\WillLe02,DT,20,49,USC,2021-06-05,302,4.97,29.500000,...,106.000000,7.590000,4.530000,"[New York Jets , 1st , 6th pick , 2015]",Leonard Williams,WillLe02,New York Jets,1,6,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2001,Fred Wakefield\WakeFr00,DE,22,17,Illinois,2021-06-07,287,5.09,29.000000,...,108.000000,7.490000,4.640000,"[None , 8th , 300th pick , 2020]",Fred Wakefield,WakeFr00,None,8,300,2020
2996,2001,James Whitley\WhitJa21,CB,21,2,Michigan,2021-05-10,193,4.73,39.000000,...,118.000000,7.040000,4.400000,"[None , 8th , 300th pick , 2020]",James Whitley,WhitJa21,None,8,300,2020
2997,2001,Reggie White\WhitRe20,RB,21,0,Oklahoma State,2000-06-01,228,4.58,37.500000,...,114.000000,7.480000,4.400000,"[None , 8th , 300th pick , 2020]",Reggie White,WhitRe20,None,8,300,2020
2998,2001,Boo Williams\WillBo00,TE,21,11,Arkansas,2021-06-04,237,4.72,35.500000,...,119.000000,7.100000,4.330000,"[None , 8th , 300th pick , 2020]",Boo Williams,WillBo00,None,8,300,2020
2999,2001,Marcus Williams\WillMa21,WR,23,0,Washington State,2021-06-05,230,4.56,41.000000,...,130.000000,7.370000,4.200000,"[None , 8th , 300th pick , 2020]",Marcus Williams,WillMa21,None,8,300,2020

In [87]:
Combine_season_recruit_df = pd.merge(Combine_df, recruit_and_season_avg_df, on=["player", "team"])

In [88]:
Combine_season_recruit_df = Combine_season_recruit_df.drop(['Player_extra','Year','Drafted','Height','weight','year_d'], axis=1)

In [89]:
Combine_season_recruit_df.columns

Index(['Pos', 'Age', 'AV', 'team', 'Wt', '40YD', 'Vertical', 'BenchReps',
       'Broad Jump', '3Cone', 'Shuttle', 'player', 'Garbage', 'Drafted_team',
       'Round', 'Pick', 'year', 'ranking', 'school', 'position', 'height',
       'stars', 'rating', 'player_id', 'interceptionsAVG', 'interceptionsINT',
       'interceptionsTD', 'interceptionsYDS', 'kickReturnsAVG',
       'kickReturnsLONG', 'kickReturnsNO', 'kickReturnsTD', 'kickReturnsYDS',
       'kickingFGA', 'kickingFGM', 'kickingLONG', 'kickingPCT', 'kickingPTS',
       'kickingXPA', 'kickingXPM', 'passingATT', 'passingCOMPLETIONS',
       'passingINT', 'passingPCT', 'passingTD', 'passingYDS', 'passingYPA',
       'puntReturnsAVG', 'puntReturnsLONG', 'puntReturnsNO', 'puntReturnsTD',
       'puntReturnsYDS', 'puntingIn 20', 'puntingLONG', 'puntingNO',
       'puntingTB', 'puntingYDS', 'puntingYPP', 'receivingLONG',
       'receivingREC', 'receivingTD', 'receivingYDS', 'receivingYPR',
       'rushingCAR', 'rushingLONG', 'rushingTD', 'rushingYDS', 'rushingYPC'],
      dtype='object')

In [90]:
Combine_season_recruit_df.to_csv('Data/Combine_season_recruit_df.csv')

In [91]:
#dumming position college and position in a different data set to try two different methods
Draft_prediction_data = pd.concat([Combine_season_recruit_df,pd.get_dummies(Combine_season_recruit_df['team'], 
                                                  prefix='college',
                                                  drop_first=True)],
                                                  axis=1).drop(['team'], axis=1)
Draft_prediction_data = pd.concat([Draft_prediction_data,pd.get_dummies(Draft_prediction_data['Pos'], 
                                                  prefix='Position',
                                                  drop_first=True)],
                                                  axis=1).drop(['Pos'], axis=1)

In [92]:
Draft_prediction_data

,Age,AV,Wt,40YD,Vertical,BenchReps,Broad Jump,3Cone,Shuttle,player,...,Position_K,Position_OG,Position_OLB,Position_OT,Position_P,Position_QB,Position_RB,Position_S,Position_TE,Position_WR
0,21,59,231,4.97,28.500000,20.833333,103.000000,7.160000,4.360000,Jameis Winston,...,0,0,0,0,0,1,0,0,0,0
1,21,49,222,4.52,36.000000,20.833333,121.000000,6.870000,4.110000,Marcus Mariota,...,0,0,0,0,0,1,0,0,0,0
2,20,51,211,4.42,33.000000,15.277419,120.000000,6.710000,3.980000,Amari Cooper,...,0,0,0,0,0,0,0,0,0,1
3,23,43,319,5.05,28.357143,23.000000,102.844311,7.257464,4.366933,Brandon Scherff,...,0,0,0,1,0,0,0,0,0,0
4,20,49,302,4.97,29.500000,28.864865,106.000000,7.590000,4.530000,Leonard Williams,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,23,1,229,4.46,34.000000,15.277419,116.000000,7.000000,4.366933,Tab Perry,...,0,0,0,0,0,0,0,0,0,1
932,23,0,223,4.59,35.500000,20.000000,111.000000,7.150000,4.140000,Diamond Ferri,...,0,0,0,0,0,0,0,1,0,0
933,22,0,218,4.76,31.500000,22.000000,111.000000,7.170000,4.260000,Matt Grootegoed,...,0,0,0,0,0,0,0,1,0,0
934,23,0,265,5.04,33.340278,18.000000,114.755245,7.257464,4.366933,Alex Holmes,...,0,0,0,0,0,0,0,0,1,0
935,21,0,228,4.65,35.846774,17.213904,120.405405,7.257464,4.366933,Ernest Shazor,...,0,0,0,0,0,0,0,1,0,0

In [93]:
print(Draft_prediction_data.columns.tolist())

['Age', 'AV', 'Wt', '40YD', 'Vertical', 'BenchReps', 'Broad Jump', '3Cone', 'Shuttle', 'player', 'Garbage', 'Drafted_team', 'Round', 'Pick', 'year', 'ranking', 'school', 'position', 'height', 'stars', 'rating', 'player_id', 'interceptionsAVG', 'interceptionsINT', 'interceptionsTD', 'interceptionsYDS', 'kickReturnsAVG', 'kickReturnsLONG', 'kickReturnsNO', 'kickReturnsTD', 'kickReturnsYDS', 'kickingFGA', 'kickingFGM', 'kickingLONG', 'kickingPCT', 'kickingPTS', 'kickingXPA', 'kickingXPM', 'passingATT', 'passingCOMPLETIONS', 'passingINT', 'passingPCT', 'passingTD', 'passingYDS', 'passingYPA', 'puntReturnsAVG', 'puntReturnsLONG', 'puntReturnsNO', 'puntReturnsTD', 'puntReturnsYDS', 'puntingIn 20', 'puntingLONG', 'puntingNO', 'puntingTB', 'puntingYDS', 'puntingYPP', 'receivingLONG', 'receivingREC', 'receivingTD', 'receivingYDS', 'receivingYPR', 'rushingCAR', 'rushingLONG', 'rushingTD', 'rushingYDS', 'rushingYPC', 'college_Arizona', 'college_Arizona State', 'college_Arkansas', 'college_Arkansas State', 'college_Auburn', 'college_BYU', 'college_Ball State', 'college_Baylor', 'college_Boise State', 'college_Buffalo', 'college_California', 'college_Central Michigan', 'college_Cincinnati', 'college_Clemson', 'college_Colorado', 'college_Colorado State', 'college_Connecticut', 'college_Duke', 'college_East Carolina', 'college_Florida', 'college_Florida Atlantic', 'college_Florida International', 'college_Florida State', 'college_Fresno State', 'college_Georgia', 'college_Georgia State', 'college_Georgia Tech', 'college_Houston', 'college_Idaho', 'college_Illinois', 'college_Indiana', 'college_Iowa', 'college_Iowa State', 'college_Kansas', 'college_Kansas State', 'college_Kent State', 'college_Kentucky', 'college_LSU', 'college_Louisville', 'college_Maryland', 'college_Memphis', 'college_Miami (OH)', 'college_Michigan', 'college_Michigan State', 'college_Minnesota', 'college_Mississippi State', 'college_Missouri', 'college_Nebraska', 'college_Nevada', 'college_North Carolina', 'college_Northern Illinois', 'college_Northwestern', 'college_Notre Dame', 'college_Ohio', 'college_Ohio State', 'college_Oklahoma', 'college_Oklahoma State', 'college_Oregon', 'college_Oregon State', 'college_Penn State', 'college_Pittsburgh', 'college_Purdue', 'college_Rutgers', 'college_SMU', 'college_San Diego State', 'college_South Alabama', 'college_South Carolina', 'college_South Florida', 'college_Stanford', 'college_Syracuse', 'college_TCU', 'college_Temple', 'college_Tennessee', 'college_Texas', 'college_Texas A&M', 'college_Texas Tech', 'college_Toledo', 'college_Troy', 'college_Tulane', 'college_Tulsa', 'college_UCLA', 'college_USC', 'college_Utah', 'college_Utah State', 'college_Vanderbilt', 'college_Virginia', 'college_Virginia Tech', 'college_Wake Forest', 'college_Washington', 'college_Washington State', 'college_West Virginia', 'college_Western Kentucky', 'college_Wisconsin', 'college_Wyoming', 'Position_CB', 'Position_DE', 'Position_DT', 'Position_FB', 'Position_ILB', 'Position_K', 'Position_OG', 'Position_OLB', 'Position_OT', 'Position_P', 'Position_QB', 'Position_RB', 'Position_S', 'Position_TE', 'Position_WR']

In [94]:
Draft_prediction_data.to_csv('Data/Draft_prediction_data.csv')